USE [master]
GO
/****** Object:  Database [ClinicalManagementSystemDB]    Script Date: 7/31/2026 5:43:27 PM ******/
CREATE DATABASE [ClinicalManagementSystemDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ClinicalManagementSystemDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\ClinicalManagementSystemDB.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ClinicalManagementSystemDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\ClinicalManagementSystemDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ClinicalManagementSystemDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ClinicalManagementSystemDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 7/31/2026 5:43:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AppointmentDocuments]    Script Date: 7/31/2026 5:43:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppointmentDocuments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AppointmentId] [int] NOT NULL,
	[FileName] [nvarchar](max) NOT NULL,
	[FilePath] [nvarchar](max) NOT NULL,
	[UploadedAt] [datetime2](7) NOT NULL,
	[HospitalId] [int] NOT NULL,
 CONSTRAINT [PK_AppointmentDocuments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Appointments]    Script Date: 7/31/2026 5:43:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Appointments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DoctorId] [int] NOT NULL,
	[BookingType] [nvarchar](max) NOT NULL,
	[PatientId] [int] NOT NULL,
	[Date] [datetime2](7) NOT NULL,
	[StartTime] [time](7) NOT NULL,
	[TokenNumber] [nvarchar](max) NOT NULL,
	[ConsultationFee] [decimal](18, 2) NOT NULL,
	[PaymentMode] [nvarchar](max) NULL,
	[PaymentStatus] [nvarchar](max) NOT NULL,
	[PaymentDate] [datetime2](7) NULL,
	[TransactionId] [nvarchar](max) NULL,
	[ChiefComplaints] [nvarchar](max) NULL,
	[BloodPressure] [nvarchar](max) NULL,
	[SugarLevel] [nvarchar](max) NULL,
	[Temperature] [nvarchar](max) NULL,
	[Weight] [nvarchar](max) NULL,
	[PulseRate] [nvarchar](max) NULL,
	[RespiratoryRate] [nvarchar](max) NULL,
	[Status] [nvarchar](max) NOT NULL,
	[HospitalId] [int] NOT NULL,
	[BranchId] [int] NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Appointments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AuditLogs]    Script Date: 7/31/2026 5:43:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditLogs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[UserName] [nvarchar](max) NOT NULL,
	[Role] [nvarchar](max) NOT NULL,
	[ClinicId] [int] NULL,
	[BranchId] [int] NULL,
	[Action] [nvarchar](max) NOT NULL,
	[SystemAction] [nvarchar](max) NULL,
	[IsLoginActivity] [bit] NOT NULL,
	[IpAddress] [nvarchar](max) NULL,
	[Browser] [nvarchar](max) NULL,
	[Device] [nvarchar](max) NULL,
	[LoginTime] [datetime2](7) NOT NULL,
	[LogoutTime] [datetime2](7) NULL,
	[IsOnline] [bit] NOT NULL,
	[Timestamp] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_AuditLogs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Billings]    Script Date: 7/31/2026 5:43:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Billings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AppointmentId] [int] NOT NULL,
	[PatientId] [int] NOT NULL,
	[DoctorId] [int] NOT NULL,
	[ConsultationCharge] [decimal](18, 2) NOT NULL,
	[MedicineCharge] [decimal](18, 2) NOT NULL,
	[LabCharge] [decimal](18, 2) NOT NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL,
	[PaymentMode] [nvarchar](max) NOT NULL,
	[Status] [nvarchar](max) NOT NULL,
	[HospitalId] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[BillingType] [nvarchar](max) NOT NULL,
	[BranchId] [int] NULL,
	[SubTotal] [decimal](18, 2) NOT NULL,
	[GstPercentage] [decimal](18, 2) NOT NULL,
	[GstAmount] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_Billings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Branches]    Script Date: 7/31/2026 5:43:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Branches](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[HospitalId] [int] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Phone] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NULL,
	[City] [nvarchar](max) NULL,
	[State] [nvarchar](max) NULL,
	[District] [nvarchar](max) NULL,
	[Country] [nvarchar](max) NULL,
	[PostalCode] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Branches] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiefComplaints]    Script Date: 7/31/2026 5:43:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiefComplaints](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_ChiefComplaints] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cities]    Script Date: 7/31/2026 5:43:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cities](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[DistrictId] [int] NOT NULL,
	[PostalCode] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Cities] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClinicalNoteTemplates]    Script Date: 7/31/2026 5:43:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClinicalNoteTemplates](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Notes] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_ClinicalNoteTemplates] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clinics]    Script Date: 7/31/2026 5:43:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clinics](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ClinicName] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NULL,
	[City] [nvarchar](max) NULL,
	[State] [nvarchar](max) NULL,
	[District] [nvarchar](max) NULL,
	[Country] [nvarchar](max) NULL,
	[PostalCode] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Clinics] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Consultations]    Script Date: 7/31/2026 5:43:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Consultations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AppointmentId] [int] NOT NULL,
	[PatientId] [int] NOT NULL,
	[Diagnosis] [nvarchar](max) NOT NULL,
	[ClinicalNotes] [nvarchar](max) NOT NULL,
	[HospitalId] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Consultations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Districts]    Script Date: 7/31/2026 5:43:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Districts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[StateId] [int] NOT NULL,
 CONSTRAINT [PK_Districts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DoctorBranches]    Script Date: 7/31/2026 5:43:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DoctorBranches](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DoctorId] [int] NOT NULL,
	[BranchId] [int] NOT NULL,
	[HospitalId] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_DoctorBranches] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DoctorDiagnoses]    Script Date: 7/31/2026 5:43:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DoctorDiagnoses](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DoctorId] [int] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[HospitalId] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_DoctorDiagnoses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DoctorQualifications]    Script Date: 7/31/2026 5:43:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DoctorQualifications](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_DoctorQualifications] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Doctors]    Script Date: 7/31/2026 5:43:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Doctors](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Specialization] [nvarchar](max) NULL,
	[Experience] [int] NOT NULL,
	[Fees] [decimal](18, 2) NOT NULL,
	[Email] [nvarchar](max) NULL,
	[Image] [nvarchar](max) NULL,
	[Phone] [nvarchar](max) NULL,
	[Qualification] [nvarchar](max) NULL,
	[AreaofExpertise] [nvarchar](max) NULL,
	[BranchId] [int] NULL,
	[Role] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[HospitalId] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Doctors] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DoctorSpecializations]    Script Date: 7/31/2026 5:43:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DoctorSpecializations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_DoctorSpecializations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dosages]    Script Date: 7/31/2026 5:43:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dosages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Dosages] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Frequencies]    Script Date: 7/31/2026 5:43:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Frequencies](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Frequencies] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Holidays]    Script Date: 7/31/2026 5:43:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Holidays](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Date] [datetime2](7) NOT NULL,
	[HospitalId] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Holidays] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hospitals]    Script Date: 7/31/2026 5:43:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hospitals](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NULL,
	[Phone] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[City] [nvarchar](max) NULL,
	[State] [nvarchar](max) NULL,
	[District] [nvarchar](max) NULL,
	[Country] [nvarchar](max) NULL,
	[PostalCode] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Hospitals] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InstructionTemplates]    Script Date: 7/31/2026 5:43:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InstructionTemplates](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_InstructionTemplates] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MedicalHistories]    Script Date: 7/31/2026 5:43:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MedicalHistories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PatientId] [int] NOT NULL,
	[Allergies] [nvarchar](max) NULL,
	[ChronicDiseases] [nvarchar](max) NULL,
	[CurrentMedications] [nvarchar](max) NULL,
	[Surgeries] [nvarchar](max) NULL,
	[HospitalId] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_MedicalHistories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MedicineNotes]    Script Date: 7/31/2026 5:43:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MedicineNotes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_MedicineNotes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Medicines]    Script Date: 7/31/2026 5:43:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medicines](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Medicines] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 7/31/2026 5:43:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[Message] [nvarchar](max) NOT NULL,
	[PatientId] [int] NULL,
	[IsRead] [bit] NOT NULL,
	[IsSent] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Notifications] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OtpVerifications]    Script Date: 7/31/2026 5:43:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OtpVerifications](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Otp] [nvarchar](max) NOT NULL,
	[ExpiryTime] [datetime2](7) NOT NULL,
	[IsUsed] [bit] NOT NULL,
	[ResetToken] [nvarchar](max) NULL,
	[ResetTokenExpiry] [datetime2](7) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_OtpVerifications] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Patients]    Script Date: 7/31/2026 5:43:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patients](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PatientCode] [nvarchar](max) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Phone] [nvarchar](max) NOT NULL,
	[Age] [int] NOT NULL,
	[Gender] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NULL,
	[BloodGroup] [nvarchar](max) NULL,
	[DateOfBirth] [datetime2](7) NULL,
	[EmergencyContactName] [nvarchar](max) NULL,
	[EmergencyContactPhone] [nvarchar](max) NULL,
	[HospitalId] [int] NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Patients] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PatientVitals]    Script Date: 7/31/2026 5:43:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PatientVitals](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AppointmentId] [int] NOT NULL,
	[PatientId] [int] NOT NULL,
	[Symptoms] [nvarchar](max) NOT NULL,
	[BloodPressure] [nvarchar](max) NOT NULL,
	[SugarLevel] [nvarchar](max) NOT NULL,
	[Temperature] [nvarchar](max) NOT NULL,
	[Weight] [nvarchar](max) NOT NULL,
	[PulseRate] [nvarchar](max) NOT NULL,
	[RespiratoryRate] [nvarchar](max) NOT NULL,
	[HospitalId] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_PatientVitals] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 7/31/2026 5:43:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AppointmentId] [int] NULL,
	[DoctorId] [int] NOT NULL,
	[BranchId] [int] NOT NULL,
	[AppointmentDate] [datetime2](7) NOT NULL,
	[AppointmentTime] [time](7) NOT NULL,
	[HospitalId] [int] NOT NULL,
	[PatientId] [int] NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[PaymentMode] [nvarchar](max) NOT NULL,
	[Status] [nvarchar](max) NOT NULL,
	[TransactionId] [nvarchar](max) NULL,
	[PaymentDate] [datetime2](7) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Payments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PrescriptionItems]    Script Date: 7/31/2026 5:43:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PrescriptionItems](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PrescriptionId] [int] NOT NULL,
	[MedicineName] [nvarchar](max) NULL,
	[Dosage] [nvarchar](max) NULL,
	[Frequency] [nvarchar](max) NULL,
	[Duration] [nvarchar](max) NULL,
	[Notes] [nvarchar](max) NULL,
 CONSTRAINT [PK_PrescriptionItems] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PrescriptionLabTests]    Script Date: 7/31/2026 5:43:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PrescriptionLabTests](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PrescriptionId] [int] NOT NULL,
	[TestName] [nvarchar](250) NOT NULL,
	[Instructions] [nvarchar](1000) NULL,
	[Priority] [nvarchar](50) NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_PrescriptionLabTests] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Prescriptions]    Script Date: 7/31/2026 5:43:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prescriptions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AppointmentId] [int] NOT NULL,
	[PatientId] [int] NOT NULL,
	[Diagnosis] [nvarchar](max) NULL,
	[Instructions] [nvarchar](max) NULL,
	[FollowUpDate] [datetime2](7) NOT NULL,
	[Status] [nvarchar](max) NULL,
	[HospitalId] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[IsPrinted] [bit] NOT NULL,
	[PrintedAt] [datetime2](7) NULL,
	[PrintedByUserId] [int] NULL,
 CONSTRAINT [PK_Prescriptions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Receptionists]    Script Date: 7/31/2026 5:43:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Receptionists](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Phone] [nvarchar](max) NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[HospitalId] [int] NOT NULL,
	[BranchId] [int] NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Receptionists] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RolePermissions]    Script Date: 7/31/2026 5:43:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RolePermissions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](max) NULL,
	[CanView] [bit] NOT NULL,
	[CanCreate] [bit] NOT NULL,
	[CanEdit] [bit] NOT NULL,
	[CanDelete] [bit] NOT NULL,
 CONSTRAINT [PK_RolePermissions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Schedules]    Script Date: 7/31/2026 5:43:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Schedules](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DoctorId] [int] NOT NULL,
	[StartDate] [datetime2](7) NOT NULL,
	[EndDate] [datetime2](7) NOT NULL,
	[Days] [nvarchar](max) NULL,
	[WorkStart] [time](7) NOT NULL,
	[WorkEnd] [time](7) NOT NULL,
	[BreakStart] [time](7) NOT NULL,
	[BreakEnd] [time](7) NOT NULL,
	[HospitalId] [int] NOT NULL,
	[BranchId] [int] NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Schedules] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ScheduleSettings]    Script Date: 7/31/2026 5:43:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ScheduleSettings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SlotDuration] [int] NOT NULL,
	[ClinicOpen] [time](7) NOT NULL,
	[ClinicClose] [time](7) NOT NULL,
	[HospitalId] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_ScheduleSettings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Settings]    Script Date: 7/31/2026 5:43:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Settings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ApplicationName] [nvarchar](max) NULL,
	[SupportEmail] [nvarchar](max) NULL,
	[SupportPhone] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NULL,
	[EmailNotificationsEnabled] [bit] NOT NULL,
	[SmsNotificationsEnabled] [bit] NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Settings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Staffs]    Script Date: 7/31/2026 5:43:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staffs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Role] [nvarchar](max) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[HospitalId] [int] NOT NULL,
	[BranchId] [int] NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Staffs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[States]    Script Date: 7/31/2026 5:43:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[States](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_States] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SuperAdmins]    Script Date: 7/31/2026 5:43:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SuperAdmins](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Email] [nvarchar](450) NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_SuperAdmins] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserPermissions]    Script Date: 7/31/2026 5:43:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserPermissions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[HospitalId] [int] NOT NULL,
	[Module] [nvarchar](450) NOT NULL,
	[CanView] [bit] NOT NULL,
	[CanCreate] [bit] NOT NULL,
	[CanEdit] [bit] NOT NULL,
	[CanDelete] [bit] NOT NULL,
	[AssignedByUserId] [int] NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_UserPermissions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 7/31/2026 5:43:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[MobileNumber] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[Role] [nvarchar](max) NULL,
	[DoctorId] [int] NULL,
	[HospitalId] [int] NULL,
	[BranchId] [int] NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[MustChangePassword] [bit] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260720093746_InitialCreate', N'8.0.26')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260728090000_AddUserPermissions', N'8.0.26')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260731064349_AddNurseBillingGstAndDoctorBranches', N'8.0.26')
GO
SET IDENTITY_INSERT [dbo].[Appointments] ON 

SET IDENTITY_INSERT [dbo].[Appointments] OFF
GO
SET IDENTITY_INSERT [dbo].[AuditLogs] ON 

INSERT [dbo].[AuditLogs] ([Id], [UserId], [UserName], [Role], [ClinicId], [BranchId], [Action], [SystemAction], [IsLoginActivity], [IpAddress], [Browser], [Device], [LoginTime], [LogoutTime], [IsOnline], [Timestamp]) VALUES (1, 1, N'Super Admin', N'SuperAdmin', NULL, NULL, N'Login', N'User Login', 1, N'2401:b200:2016:9170:f0d5:9348:ce38:21b2', N'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/150.0.0.0 Safari/537.36', N'Desktop', CAST(N'2026-07-30T06:01:43.0678977' AS DateTime2), NULL, 1, CAST(N'2026-07-30T06:01:43.0679854' AS DateTime2))
INSERT [dbo].[AuditLogs] ([Id], [UserId], [UserName], [Role], [ClinicId], [BranchId], [Action], [SystemAction], [IsLoginActivity], [IpAddress], [Browser], [Device], [LoginTime], [LogoutTime], [IsOnline], [Timestamp]) VALUES (2, 1, N'Super Admin', N'SuperAdmin', NULL, NULL, N'Login', N'User Login', 1, N'2401:b200:2016:9170:f0d5:9348:ce38:21b2', N'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/150.0.0.0 Safari/537.36', N'Desktop', CAST(N'2026-07-30T06:05:34.8355248' AS DateTime2), NULL, 1, CAST(N'2026-07-30T06:05:34.8355250' AS DateTime2))
INSERT [dbo].[AuditLogs] ([Id], [UserId], [UserName], [Role], [ClinicId], [BranchId], [Action], [SystemAction], [IsLoginActivity], [IpAddress], [Browser], [Device], [LoginTime], [LogoutTime], [IsOnline], [Timestamp]) VALUES (3, 1, N'Super Admin', N'SuperAdmin', NULL, NULL, N'Super Admin logged in', N'Login', 1, N'', NULL, NULL, CAST(N'2026-07-30T06:05:40.5683100' AS DateTime2), NULL, 0, CAST(N'2026-07-30T06:05:40.6012444' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[AuditLogs] OFF
GO
SET IDENTITY_INSERT [dbo].[Billings] ON 

INSERT [dbo].[Billings] ([Id], [AppointmentId], [PatientId], [DoctorId], [ConsultationCharge], [MedicineCharge], [LabCharge], [TotalAmount], [PaymentMode], [Status], [HospitalId], [CreatedAt], [BillingType], [BranchId], [SubTotal], [GstPercentage], [GstAmount]) VALUES (1, 3, 2, 1, CAST(500.00 AS Decimal(18, 2)), CAST(300.00 AS Decimal(18, 2)), CAST(2000.00 AS Decimal(18, 2)), CAST(2800.00 AS Decimal(18, 2)), N'UPI', N'Paid', 1, CAST(N'2026-07-30T10:54:38.8693071' AS DateTime2), N'OP', NULL, CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)))
INSERT [dbo].[Billings] ([Id], [AppointmentId], [PatientId], [DoctorId], [ConsultationCharge], [MedicineCharge], [LabCharge], [TotalAmount], [PaymentMode], [Status], [HospitalId], [CreatedAt], [BillingType], [BranchId], [SubTotal], [GstPercentage], [GstAmount]) VALUES (2, 5, 1, 1, CAST(500.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(5664.00 AS Decimal(18, 2)), CAST(6164.00 AS Decimal(18, 2)), N'UPI', N'Paid', 1, CAST(N'2026-07-30T13:10:23.9147276' AS DateTime2), N'OP', NULL, CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)))
INSERT [dbo].[Billings] ([Id], [AppointmentId], [PatientId], [DoctorId], [ConsultationCharge], [MedicineCharge], [LabCharge], [TotalAmount], [PaymentMode], [Status], [HospitalId], [CreatedAt], [BillingType], [BranchId], [SubTotal], [GstPercentage], [GstAmount]) VALUES (3, 5, 1, 1, CAST(500.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(5664.00 AS Decimal(18, 2)), CAST(6164.00 AS Decimal(18, 2)), N'UPI', N'Paid', 1, CAST(N'2026-07-30T13:14:58.1397215' AS DateTime2), N'OP', NULL, CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Billings] OFF
GO
SET IDENTITY_INSERT [dbo].[Branches] ON 

INSERT [dbo].[Branches] ([Id], [HospitalId], [Name], [Phone], [Email], [Address], [City], [State], [District], [Country], [PostalCode], [IsActive], [CreatedAt]) VALUES (1, 1, N'Kuku', N'9873625226', N'kuku@gmail.com', N'Lic Building Backside, I.M.Colony, Hyderabad, Telangana, India, 500082', N'Hyderabad', N'Telangana', N'Hyderabad', N'India', N'500082', 1, CAST(N'2026-07-30T06:25:04.8979857' AS DateTime2))
INSERT [dbo].[Branches] ([Id], [HospitalId], [Name], [Phone], [Email], [Address], [City], [State], [District], [Country], [PostalCode], [IsActive], [CreatedAt]) VALUES (2, 1, N'Dmp', N'9857436346', N'Dmp@gmail.com', N'Baba Temple Opposite, Gaganpahad, K.V.Rangareddy, Telangana, India, 500052', N'K.V.Rangareddy', N'Telangana', N'K.V.Rangareddy', N'India', N'500052', 1, CAST(N'2026-07-30T06:26:22.1202739' AS DateTime2))
INSERT [dbo].[Branches] ([Id], [HospitalId], [Name], [Phone], [Email], [Address], [City], [State], [District], [Country], [PostalCode], [IsActive], [CreatedAt]) VALUES (3, 2, N'Hanuman', N'9729362735', N'jyothimutyala543@gmail.com', N'College Road, Jntu Kukat Pally, Hyderabad, Telangana, India, 500085', N'Hyderabad', N'Telangana', N'Hyderabad', N'India', N'500085', 1, CAST(N'2026-07-30T11:15:11.7665337' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Branches] OFF
GO
SET IDENTITY_INSERT [dbo].[ClinicalNoteTemplates] ON 

INSERT [dbo].[ClinicalNoteTemplates] ([Id], [Name], [Notes]) VALUES (1, N'Burn Injury', N'Subjective


Assessment


Plan')
INSERT [dbo].[ClinicalNoteTemplates] ([Id], [Name], [Notes]) VALUES (2, N'Fever', N'Subjective
Subjective


Assessment


Plan

Assessment


Plan')
SET IDENTITY_INSERT [dbo].[ClinicalNoteTemplates] OFF
GO
SET IDENTITY_INSERT [dbo].[Consultations] ON 

INSERT [dbo].[Consultations] ([Id], [AppointmentId], [PatientId], [Diagnosis], [ClinicalNotes], [HospitalId], [CreatedAt]) VALUES (1, 3, 2, N'Burn Injury', N'Subjective


Assessment


Plan', 1, CAST(N'2026-07-30T10:50:01.0107894' AS DateTime2))
INSERT [dbo].[Consultations] ([Id], [AppointmentId], [PatientId], [Diagnosis], [ClinicalNotes], [HospitalId], [CreatedAt]) VALUES (2, 4, 3, N'Fever', N'Subjective
Subjective


Assessment


Plan

Assessment


Plan', 2, CAST(N'2026-07-30T12:02:13.6733210' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Consultations] OFF
GO
SET IDENTITY_INSERT [dbo].[DoctorBranches] ON 

INSERT [dbo].[DoctorBranches] ([Id], [DoctorId], [BranchId], [HospitalId], [IsActive], [CreatedAt]) VALUES (1, 1, 1, 1, 1, CAST(N'2026-07-31T11:03:19.8372629' AS DateTime2))
SET IDENTITY_INSERT [dbo].[DoctorBranches] OFF
GO
SET IDENTITY_INSERT [dbo].[DoctorDiagnoses] ON 

INSERT [dbo].[DoctorDiagnoses] ([Id], [DoctorId], [Name], [HospitalId], [CreatedAt]) VALUES (1, 1, N'Burn Injury', 1, CAST(N'2026-07-30T10:50:00.9289577' AS DateTime2))
INSERT [dbo].[DoctorDiagnoses] ([Id], [DoctorId], [Name], [HospitalId], [CreatedAt]) VALUES (2, 3, N'Fever', 2, CAST(N'2026-07-30T12:02:13.6552032' AS DateTime2))
INSERT [dbo].[DoctorDiagnoses] ([Id], [DoctorId], [Name], [HospitalId], [CreatedAt]) VALUES (3, 3, N'Migraine', 2, CAST(N'2026-07-31T11:12:17.9661591' AS DateTime2))
SET IDENTITY_INSERT [dbo].[DoctorDiagnoses] OFF
GO
SET IDENTITY_INSERT [dbo].[Doctors] ON 

INSERT [dbo].[Doctors] ([Id], [Name], [Specialization], [Experience], [Fees], [Email], [Image], [Phone], [Qualification], [AreaofExpertise], [BranchId], [Role], [IsActive], [HospitalId], [CreatedAt]) VALUES (1, N'Durga Prasad', N'Cardiology', 3, CAST(500.00 AS Decimal(18, 2)), N'durgaprasad.pilla4321@gmail.com', N'/images/doctors/87d3d583-84bd-4836-90f2-a21918594a4b.jpg', N'9785845635', N'MBBS', N'Heart Diseases', 1, N'Doctor', 1, 1, CAST(N'2026-07-30T06:34:56.9546638' AS DateTime2))
INSERT [dbo].[Doctors] ([Id], [Name], [Specialization], [Experience], [Fees], [Email], [Image], [Phone], [Qualification], [AreaofExpertise], [BranchId], [Role], [IsActive], [HospitalId], [CreatedAt]) VALUES (2, N'Laxmi', N'Gynecology', 5, CAST(700.00 AS Decimal(18, 2)), N'pilladurgaprasad669@gmail.com', N'/images/doctors/46c19b66-044d-4e50-9c50-233f8773d88d.jpg', N'9585684745', N'MBBS', N'Gynecological Surgery', 2, N'Doctor', 1, 1, CAST(N'2026-07-30T07:21:46.9267607' AS DateTime2))
INSERT [dbo].[Doctors] ([Id], [Name], [Specialization], [Experience], [Fees], [Email], [Image], [Phone], [Qualification], [AreaofExpertise], [BranchId], [Role], [IsActive], [HospitalId], [CreatedAt]) VALUES (3, N'Jyothi', N'General Specialist', 3, CAST(400.00 AS Decimal(18, 2)), N'jyothimutyala544@gmail.com', NULL, N'9177881856', N'MD', N'General Medical', 3, N'Doctor', 1, 2, CAST(N'2026-07-30T11:18:09.0625384' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Doctors] OFF
GO
SET IDENTITY_INSERT [dbo].[DoctorSpecializations] ON 

INSERT [dbo].[DoctorSpecializations] ([Id], [Name]) VALUES (1, N'Cardiology')
INSERT [dbo].[DoctorSpecializations] ([Id], [Name]) VALUES (2, N'Gynecology')
INSERT [dbo].[DoctorSpecializations] ([Id], [Name]) VALUES (3, N'General Specialist')
SET IDENTITY_INSERT [dbo].[DoctorSpecializations] OFF
GO
SET IDENTITY_INSERT [dbo].[Hospitals] ON 

INSERT [dbo].[Hospitals] ([Id], [Name], [Address], [Phone], [Email], [City], [State], [District], [Country], [PostalCode], [IsActive], [CreatedAt]) VALUES (1, N'VIMS Clinic', N'Main road opposite, Athava, Vizianagaram, Andhra Pradesh, India, 535161', N'8685645747', N'Vims@gmail.com', NULL, NULL, NULL, NULL, NULL, 1, CAST(N'2026-07-30T06:15:40.9017096' AS DateTime2))
INSERT [dbo].[Hospitals] ([Id], [Name], [Address], [Phone], [Email], [City], [State], [District], [Country], [PostalCode], [IsActive], [CreatedAt]) VALUES (2, N'Pragathi Clinic', N'Main Road, Kondapur, K.V.Rangareddy, Telangana, India, 500084', N'8237235264', N'jytohi@gmail.com', NULL, NULL, NULL, NULL, NULL, 1, CAST(N'2026-07-30T11:10:24.6029521' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Hospitals] OFF
GO
SET IDENTITY_INSERT [dbo].[MedicalHistories] ON 

INSERT [dbo].[MedicalHistories] ([Id], [PatientId], [Allergies], [ChronicDiseases], [CurrentMedications], [Surgeries], [HospitalId], [CreatedAt]) VALUES (1, 3, N'Dust Alergy', N'', N'Dolo', N'', 2, CAST(N'2026-07-31T04:04:44.3059490' AS DateTime2))
SET IDENTITY_INSERT [dbo].[MedicalHistories] OFF
GO
SET IDENTITY_INSERT [dbo].[Notifications] ON 

INSERT [dbo].[Notifications] ([Id], [Title], [Message], [PatientId], [IsRead], [IsSent], [CreatedAt]) VALUES (1, N'Hi admin', N'Welcome to the CMS', NULL, 0, 1, CAST(N'2026-07-30T06:21:00.2296494' AS DateTime2))
INSERT [dbo].[Notifications] ([Id], [Title], [Message], [PatientId], [IsRead], [IsSent], [CreatedAt]) VALUES (2, N'Appointment Booked', N'Appointment APT-20260730092157-395 has been booked successfully.', NULL, 0, 1, CAST(N'2026-07-30T09:21:58.0183778' AS DateTime2))
INSERT [dbo].[Notifications] ([Id], [Title], [Message], [PatientId], [IsRead], [IsSent], [CreatedAt]) VALUES (3, N'Appointment Cancelled', N'Appointment APT-20260730092157-395 has been cancelled.', NULL, 0, 1, CAST(N'2026-07-30T10:33:55.2172191' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Notifications] OFF
GO
SET IDENTITY_INSERT [dbo].[OtpVerifications] ON 

INSERT [dbo].[OtpVerifications] ([Id], [Email], [Otp], [ExpiryTime], [IsUsed], [ResetToken], [ResetTokenExpiry], [CreatedAt]) VALUES (1, N'pilla.durgaprasad666@gmail.com', N'901012', CAST(N'2026-07-30T10:05:26.8271154' AS DateTime2), 1, N'76693d58-ad0a-4545-b5b4-00ab5e348c22', CAST(N'2026-07-30T10:10:54.9559167' AS DateTime2), CAST(N'2026-07-30T09:55:26.8268843' AS DateTime2))
INSERT [dbo].[OtpVerifications] ([Id], [Email], [Otp], [ExpiryTime], [IsUsed], [ResetToken], [ResetTokenExpiry], [CreatedAt]) VALUES (2, N'durgaprasad.pilla4321@gmail.com', N'815606', CAST(N'2026-07-30T10:07:18.7517112' AS DateTime2), 1, N'fa73ea63-a9e3-43e1-93a5-3ed22b150f2d', CAST(N'2026-07-30T10:12:42.3070888' AS DateTime2), CAST(N'2026-07-30T09:57:18.7517096' AS DateTime2))
INSERT [dbo].[OtpVerifications] ([Id], [Email], [Otp], [ExpiryTime], [IsUsed], [ResetToken], [ResetTokenExpiry], [CreatedAt]) VALUES (3, N'pilladurgaprasad669@gmail.com', N'826225', CAST(N'2026-07-30T10:08:28.0302992' AS DateTime2), 1, N'4d2bab47-e506-4613-a973-80360139432f', CAST(N'2026-07-30T10:14:19.5040234' AS DateTime2), CAST(N'2026-07-30T09:58:28.0302965' AS DateTime2))
SET IDENTITY_INSERT [dbo].[OtpVerifications] OFF
GO
SET IDENTITY_INSERT [dbo].[Patients] ON 

INSERT [dbo].[Patients] ([Id], [PatientCode], [Name], [Phone], [Age], [Gender], [Email], [Address], [BloodGroup], [DateOfBirth], [EmergencyContactName], [EmergencyContactPhone], [HospitalId], [CreatedAt]) VALUES (1, N'P-47195', N'Pilla Prasad', N'9787685764', 22, N'Male', N'pilla.durgaprasad66786@gmail.com', N'Main street, Athava, Vizianagaram, Andhra Pradesh, India, 535161', N'B-', CAST(N'2004-06-30T00:00:00.0000000' AS DateTime2), N'Hari', N'9678854848', 1, CAST(N'2026-07-30T07:33:15.1160167' AS DateTime2))
INSERT [dbo].[Patients] ([Id], [PatientCode], [Name], [Phone], [Age], [Gender], [Email], [Address], [BloodGroup], [DateOfBirth], [EmergencyContactName], [EmergencyContactPhone], [HospitalId], [CreatedAt]) VALUES (2, N'P-82637', N'Jyothi Mutyala', N'9323238523', 26, N'Female', N'jyothi@gmail.com', N'Ameenpur, A.I.E. R.C.Puram, Medak, Telangana, India, 502032', NULL, CAST(N'1999-10-10T00:00:00.0000000' AS DateTime2), NULL, NULL, 1, CAST(N'2026-07-30T09:19:00.2070178' AS DateTime2))
INSERT [dbo].[Patients] ([Id], [PatientCode], [Name], [Phone], [Age], [Gender], [Email], [Address], [BloodGroup], [DateOfBirth], [EmergencyContactName], [EmergencyContactPhone], [HospitalId], [CreatedAt]) VALUES (3, N'P-73108', N'Karuna Mutyala', N'7293462837', 26, N'Female', N'karuna@gmail.com', N'Temple Road, I.M.Colony, Hyderabad, Telangana, India, 500082', NULL, CAST(N'2000-05-10T00:00:00.0000000' AS DateTime2), NULL, NULL, 2, CAST(N'2026-07-30T11:20:57.3933964' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Patients] OFF
GO
SET IDENTITY_INSERT [dbo].[PatientVitals] ON 

INSERT [dbo].[PatientVitals] ([Id], [AppointmentId], [PatientId], [Symptoms], [BloodPressure], [SugarLevel], [Temperature], [Weight], [PulseRate], [RespiratoryRate], [HospitalId], [CreatedAt]) VALUES (1, 3, 2, N'', N'120/80 mmHg', N'120 mg/dL', N'98 F', N'60 kg', N'82 bpm', N'18 breaths/min', 1, CAST(N'2026-07-30T10:36:10.0526311' AS DateTime2))
INSERT [dbo].[PatientVitals] ([Id], [AppointmentId], [PatientId], [Symptoms], [BloodPressure], [SugarLevel], [Temperature], [Weight], [PulseRate], [RespiratoryRate], [HospitalId], [CreatedAt]) VALUES (2, 4, 3, N'', N'100/80 mmHg', N'120 mg/dL', N'97 F', N'58 kg', N'82 bpm', N'16 breaths/min', 2, CAST(N'2026-07-31T03:53:23.4759270' AS DateTime2))
INSERT [dbo].[PatientVitals] ([Id], [AppointmentId], [PatientId], [Symptoms], [BloodPressure], [SugarLevel], [Temperature], [Weight], [PulseRate], [RespiratoryRate], [HospitalId], [CreatedAt]) VALUES (3, 6, 4, N'', N'120/100 mmHg', N'120 mg/dL', N'97 F', N'60 kg', N'82 bpm', N'18 breaths/min', 2, CAST(N'2026-07-31T11:22:58.2297151' AS DateTime2))
SET IDENTITY_INSERT [dbo].[PatientVitals] OFF
GO
SET IDENTITY_INSERT [dbo].[Payments] ON 

INSERT [dbo].[Payments] ([Id], [AppointmentId], [DoctorId], [BranchId], [AppointmentDate], [AppointmentTime], [HospitalId], [PatientId], [Amount], [PaymentMode], [Status], [TransactionId], [PaymentDate], [CreatedAt]) VALUES (1, 2, 2, 1, CAST(N'2026-07-30T00:00:00.0000000' AS DateTime2), CAST(N'15:00:00' AS Time), 1, 2, CAST(700.00 AS Decimal(18, 2)), N'Card', N'Paid', N'PAT-1785403319443', CAST(N'2026-07-30T09:21:59.1226969' AS DateTime2), CAST(N'2026-07-30T09:21:58.5487357' AS DateTime2))
INSERT [dbo].[Payments] ([Id], [AppointmentId], [DoctorId], [BranchId], [AppointmentDate], [AppointmentTime], [HospitalId], [PatientId], [Amount], [PaymentMode], [Status], [TransactionId], [PaymentDate], [CreatedAt]) VALUES (2, 3, 1, 2, CAST(N'2026-07-30T00:00:00.0000000' AS DateTime2), CAST(N'16:15:00' AS Time), 1, 2, CAST(500.00 AS Decimal(18, 2)), N'UPI', N'Paid', N'PAT-1785407677306', CAST(N'2026-07-30T10:34:36.7045948' AS DateTime2), CAST(N'2026-07-30T10:34:36.5550956' AS DateTime2))
INSERT [dbo].[Payments] ([Id], [AppointmentId], [DoctorId], [BranchId], [AppointmentDate], [AppointmentTime], [HospitalId], [PatientId], [Amount], [PaymentMode], [Status], [TransactionId], [PaymentDate], [CreatedAt]) VALUES (3, 4, 3, 3, CAST(N'2026-07-30T00:00:00.0000000' AS DateTime2), CAST(N'17:00:00' AS Time), 2, 3, CAST(400.00 AS Decimal(18, 2)), N'Card', N'Paid', N'PAT-1785410519439', CAST(N'2026-07-30T11:21:58.8468964' AS DateTime2), CAST(N'2026-07-30T11:21:58.6789238' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Payments] OFF
GO
SET IDENTITY_INSERT [dbo].[PrescriptionItems] ON 

INSERT [dbo].[PrescriptionItems] ([Id], [PrescriptionId], [MedicineName], [Dosage], [Frequency], [Duration], [Notes]) VALUES (1, 1, N'Pand-D', N'1 Tablet', N'1-0-0', N'5  Days', N'Before food')
INSERT [dbo].[PrescriptionItems] ([Id], [PrescriptionId], [MedicineName], [Dosage], [Frequency], [Duration], [Notes]) VALUES (2, 2, N'Dolo', N'1 Tablet', N'1-1-1', N'5 Days', N'After food')
INSERT [dbo].[PrescriptionItems] ([Id], [PrescriptionId], [MedicineName], [Dosage], [Frequency], [Duration], [Notes]) VALUES (3, 3, N'DOT', N'1 Tablet', N'1-0-1', N'3 Days', N'After food')
SET IDENTITY_INSERT [dbo].[PrescriptionItems] OFF
GO
SET IDENTITY_INSERT [dbo].[Prescriptions] ON 

INSERT [dbo].[Prescriptions] ([Id], [AppointmentId], [PatientId], [Diagnosis], [Instructions], [FollowUpDate], [Status], [HospitalId], [CreatedAt], [IsPrinted], [PrintedAt], [PrintedByUserId]) VALUES (1, 3, 2, N'Cardiac Enzyme Test, 2D Echocardiogram', N'Take medicines after food and complete the full course.', CAST(N'2026-08-08T04:30:00.0000000' AS DateTime2), N'Completed', 1, CAST(N'2026-07-30T10:53:19.8840999' AS DateTime2), 0, NULL, NULL)
INSERT [dbo].[Prescriptions] ([Id], [AppointmentId], [PatientId], [Diagnosis], [Instructions], [FollowUpDate], [Status], [HospitalId], [CreatedAt], [IsPrinted], [PrintedAt], [PrintedByUserId]) VALUES (2, 4, 3, N'Blood Glucose Test', N'Take medicines after food and complete the full course.', CAST(N'2026-08-08T04:30:00.0000000' AS DateTime2), N'Completed', 2, CAST(N'2026-07-31T03:55:44.2129252' AS DateTime2), 0, NULL, NULL)
INSERT [dbo].[Prescriptions] ([Id], [AppointmentId], [PatientId], [Diagnosis], [Instructions], [FollowUpDate], [Status], [HospitalId], [CreatedAt], [IsPrinted], [PrintedAt], [PrintedByUserId]) VALUES (3, 8, 7, N'', N'Take medicines after food and complete the full course.', CAST(N'2026-08-08T04:30:00.0000000' AS DateTime2), N'Completed', 2, CAST(N'2026-07-31T11:40:47.6741281' AS DateTime2), 0, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Prescriptions] OFF
GO
SET IDENTITY_INSERT [dbo].[Receptionists] ON 

INSERT [dbo].[Receptionists] ([Id], [Name], [Email], [Phone], [PasswordHash], [IsActive], [HospitalId], [BranchId], [CreatedAt]) VALUES (1, N'Devi', N'pilladurgaprasad6966@gmail.com', N'9699595736', N'$2a$11$r/4pNCWHysb6FBJ/s42wfOE3.8iDEvhK7Sm4hH833oBuTGMTS2cue', 1, 1, 2, CAST(N'2026-07-30T07:25:00.9042491' AS DateTime2))
INSERT [dbo].[Receptionists] ([Id], [Name], [Email], [Phone], [PasswordHash], [IsActive], [HospitalId], [BranchId], [CreatedAt]) VALUES (2, N'Karuna Mutyala', N'alphajyothihanu@gmail.com', N'7473847637', N'$2a$11$Zr5SiunzP/Wwkb/TIFZ6p.qtIJi3YhB2lij1sOIAVdTR.wZafUq12', 1, 2, 3, CAST(N'2026-07-30T11:19:02.0583199' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Receptionists] OFF
GO
SET IDENTITY_INSERT [dbo].[RolePermissions] ON 

INSERT [dbo].[RolePermissions] ([Id], [RoleName], [CanView], [CanCreate], [CanEdit], [CanDelete]) VALUES (1, N'Admin', 1, 1, 1, 1)
SET IDENTITY_INSERT [dbo].[RolePermissions] OFF
GO
SET IDENTITY_INSERT [dbo].[Schedules] ON 

INSERT [dbo].[Schedules] ([Id], [DoctorId], [StartDate], [EndDate], [Days], [WorkStart], [WorkEnd], [BreakStart], [BreakEnd], [HospitalId], [BranchId], [CreatedAt]) VALUES (1, 1, CAST(N'2026-07-31T00:00:00.0000000' AS DateTime2), CAST(N'2026-08-30T00:00:00.0000000' AS DateTime2), N'Monday,Tuesday,Wednesday,Thursday,Friday', CAST(N'09:00:00' AS Time), CAST(N'18:00:00' AS Time), CAST(N'13:00:00' AS Time), CAST(N'14:00:00' AS Time), 1, 1, CAST(N'2026-07-30T07:34:38.1865278' AS DateTime2))
INSERT [dbo].[Schedules] ([Id], [DoctorId], [StartDate], [EndDate], [Days], [WorkStart], [WorkEnd], [BreakStart], [BreakEnd], [HospitalId], [BranchId], [CreatedAt]) VALUES (2, 2, CAST(N'2026-07-30T00:00:00.0000000' AS DateTime2), CAST(N'2026-08-29T00:00:00.0000000' AS DateTime2), N'Monday,Tuesday,Wednesday,Thursday,Friday', CAST(N'09:00:00' AS Time), CAST(N'18:00:00' AS Time), CAST(N'13:00:00' AS Time), CAST(N'14:00:00' AS Time), 1, 1, CAST(N'2026-07-30T07:34:44.7475775' AS DateTime2))
INSERT [dbo].[Schedules] ([Id], [DoctorId], [StartDate], [EndDate], [Days], [WorkStart], [WorkEnd], [BreakStart], [BreakEnd], [HospitalId], [BranchId], [CreatedAt]) VALUES (3, 3, CAST(N'2026-07-30T00:00:00.0000000' AS DateTime2), CAST(N'2026-08-29T00:00:00.0000000' AS DateTime2), N'Monday,Tuesday,Wednesday,Thursday,Friday', CAST(N'09:00:00' AS Time), CAST(N'18:00:00' AS Time), CAST(N'13:00:00' AS Time), CAST(N'14:00:00' AS Time), 2, 3, CAST(N'2026-07-30T11:18:32.3589669' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Schedules] OFF
GO
SET IDENTITY_INSERT [dbo].[ScheduleSettings] ON 

INSERT [dbo].[ScheduleSettings] ([Id], [SlotDuration], [ClinicOpen], [ClinicClose], [HospitalId], [CreatedAt]) VALUES (1, 15, CAST(N'09:00:00' AS Time), CAST(N'18:00:00' AS Time), 1, CAST(N'2026-07-30T07:34:28.7443672' AS DateTime2))
INSERT [dbo].[ScheduleSettings] ([Id], [SlotDuration], [ClinicOpen], [ClinicClose], [HospitalId], [CreatedAt]) VALUES (2, 15, CAST(N'09:00:00' AS Time), CAST(N'09:00:00' AS Time), 1, CAST(N'2026-07-31T10:41:05.6318376' AS DateTime2))
INSERT [dbo].[ScheduleSettings] ([Id], [SlotDuration], [ClinicOpen], [ClinicClose], [HospitalId], [CreatedAt]) VALUES (3, 15, CAST(N'09:00:00' AS Time), CAST(N'21:00:00' AS Time), 1, CAST(N'2026-07-31T10:41:25.6057149' AS DateTime2))
SET IDENTITY_INSERT [dbo].[ScheduleSettings] OFF
GO
SET IDENTITY_INSERT [dbo].[Staffs] ON 

INSERT [dbo].[Staffs] ([Id], [UserId], [Role], [IsActive], [HospitalId], [BranchId], [CreatedAt]) VALUES (1, 11, N'Nurse', 1, 1, 2, CAST(N'2026-07-31T05:18:21.8113039' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Staffs] OFF
GO
SET IDENTITY_INSERT [dbo].[UserPermissions] ON 

INSERT [dbo].[UserPermissions] ([Id], [UserId], [HospitalId], [Module], [CanView], [CanCreate], [CanEdit], [CanDelete], [AssignedByUserId], [UpdatedAt]) VALUES (15, 3, 1, N'Dashboard', 1, 1, 1, 1, 2, CAST(N'2026-07-30T12:53:45.2941470' AS DateTime2))
INSERT [dbo].[UserPermissions] ([Id], [UserId], [HospitalId], [Module], [CanView], [CanCreate], [CanEdit], [CanDelete], [AssignedByUserId], [UpdatedAt]) VALUES (16, 3, 1, N'Appointments', 1, 1, 1, 1, 2, CAST(N'2026-07-30T12:53:45.2945817' AS DateTime2))
INSERT [dbo].[UserPermissions] ([Id], [UserId], [HospitalId], [Module], [CanView], [CanCreate], [CanEdit], [CanDelete], [AssignedByUserId], [UpdatedAt]) VALUES (17, 3, 1, N'Patients', 1, 1, 1, 1, 2, CAST(N'2026-07-30T12:53:45.2947581' AS DateTime2))
SET IDENTITY_INSERT [dbo].[UserPermissions] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Name], [MobileNumber], [Email], [PasswordHash], [Role], [DoctorId], [HospitalId], [BranchId], [IsActive], [CreatedAt], [MustChangePassword]) VALUES (1, N'Super Admin', N'0000000000', N'superadmin@gmail.com', N'$2a$11$GL4maQ4nl5eRSGV2XlKOAuwq6EoycJxP83iKWwED994vfZdjXc.XS', N'SuperAdmin', NULL, NULL, NULL, 1, CAST(N'2026-07-30T05:56:00.4603191' AS DateTime2), 0)
INSERT [dbo].[Users] ([Id], [Name], [MobileNumber], [Email], [PasswordHash], [Role], [DoctorId], [HospitalId], [BranchId], [IsActive], [CreatedAt], [MustChangePassword]) VALUES (2, N'Pilla Durga Prasad', N'', N'pilla.durgaprasad666@gmail.com', N'$2a$11$hKOl9rxL.oH0HpJFekznteu.ZWaDo1tT.7UnmYhC9xxzilDvYVS/m', N'Admin', NULL, 1, NULL, 1, CAST(N'2026-07-30T06:16:09.9357495' AS DateTime2), 1)
INSERT [dbo].[Users] ([Id], [Name], [MobileNumber], [Email], [PasswordHash], [Role], [DoctorId], [HospitalId], [BranchId], [IsActive], [CreatedAt], [MustChangePassword]) VALUES (3, N'Durga Prasad', N'9785845635', N'durgaprasad.pilla4321@gmail.com', N'$2a$11$w1aW6p9fi9JSkxUM7nQO.OUJtL54zvYwNA.9mNc9l2hKQQnhpeUeK', N'Doctor', 1, 1, 2, 1, CAST(N'2026-07-30T06:34:57.3375913' AS DateTime2), 1)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
/****** Object:  Index [IX_AppointmentDocuments_AppointmentId]    Script Date: 7/31/2026 5:43:28 PM ******/
CREATE NONCLUSTERED INDEX [IX_AppointmentDocuments_AppointmentId] ON [dbo].[AppointmentDocuments]
(
	[AppointmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Appointments_BranchId]    Script Date: 7/31/2026 5:43:28 PM ******/
CREATE NONCLUSTERED INDEX [IX_Appointments_BranchId] ON [dbo].[Appointments]
(
	[BranchId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Appointments_Date]    Script Date: 7/31/2026 5:43:28 PM ******/
CREATE NONCLUSTERED INDEX [IX_Appointments_Date] ON [dbo].[Appointments]
(
	[Date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Appointments_DoctorId]    Script Date: 7/31/2026 5:43:28 PM ******/
CREATE NONCLUSTERED INDEX [IX_Appointments_DoctorId] ON [dbo].[Appointments]
(
	[DoctorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Appointments_HospitalId]    Script Date: 7/31/2026 5:43:28 PM ******/
CREATE NONCLUSTERED INDEX [IX_Appointments_HospitalId] ON [dbo].[Appointments]
(
	[HospitalId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Appointments_PatientId]    Script Date: 7/31/2026 5:43:28 PM ******/
CREATE NONCLUSTERED INDEX [IX_Appointments_PatientId] ON [dbo].[Appointments]
(
	[PatientId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AuditLogs_BranchId]    Script Date: 7/31/2026 5:43:28 PM ******/
CREATE NONCLUSTERED INDEX [IX_AuditLogs_BranchId] ON [dbo].[AuditLogs]
(
	[BranchId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AuditLogs_ClinicId]    Script Date: 7/31/2026 5:43:28 PM ******/
CREATE NONCLUSTERED INDEX [IX_AuditLogs_ClinicId] ON [dbo].[AuditLogs]
(
	[ClinicId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Billings_AppointmentId]    Script Date: 7/31/2026 5:43:28 PM ******/
CREATE NONCLUSTERED INDEX [IX_Billings_AppointmentId] ON [dbo].[Billings]
(
	[AppointmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Billings_DoctorId]    Script Date: 7/31/2026 5:43:28 PM ******/
CREATE NONCLUSTERED INDEX [IX_Billings_DoctorId] ON [dbo].[Billings]
(
	[DoctorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Billings_HospitalId]    Script Date: 7/31/2026 5:43:28 PM ******/
CREATE NONCLUSTERED INDEX [IX_Billings_HospitalId] ON [dbo].[Billings]
(
	[HospitalId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Billings_PatientId]    Script Date: 7/31/2026 5:43:28 PM ******/
CREATE NONCLUSTERED INDEX [IX_Billings_PatientId] ON [dbo].[Billings]
(
	[PatientId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Branches_HospitalId]    Script Date: 7/31/2026 5:43:28 PM ******/
CREATE NONCLUSTERED INDEX [IX_Branches_HospitalId] ON [dbo].[Branches]
(
	[HospitalId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Cities_DistrictId]    Script Date: 7/31/2026 5:43:28 PM ******/
CREATE NONCLUSTERED INDEX [IX_Cities_DistrictId] ON [dbo].[Cities]
(
	[DistrictId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Consultations_AppointmentId]    Script Date: 7/31/2026 5:43:28 PM ******/
CREATE NONCLUSTERED INDEX [IX_Consultations_AppointmentId] ON [dbo].[Consultations]
(
	[AppointmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Consultations_HospitalId]    Script Date: 7/31/2026 5:43:28 PM ******/
CREATE NONCLUSTERED INDEX [IX_Consultations_HospitalId] ON [dbo].[Consultations]
(
	[HospitalId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Consultations_PatientId]    Script Date: 7/31/2026 5:43:28 PM ******/
CREATE NONCLUSTERED INDEX [IX_Consultations_PatientId] ON [dbo].[Consultations]
(
	[PatientId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Districts_StateId]    Script Date: 7/31/2026 5:43:28 PM ******/
CREATE NONCLUSTERED INDEX [IX_Districts_StateId] ON [dbo].[Districts]
(
	[StateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DoctorBranches_BranchId]    Script Date: 7/31/2026 5:43:28 PM ******/
CREATE NONCLUSTERED INDEX [IX_DoctorBranches_BranchId] ON [dbo].[DoctorBranches]
(
	[BranchId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DoctorBranches_DoctorId_BranchId]    Script Date: 7/31/2026 5:43:28 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_DoctorBranches_DoctorId_BranchId] ON [dbo].[DoctorBranches]
(
	[DoctorId] ASC,
	[BranchId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DoctorDiagnoses_DoctorId]    Script Date: 7/31/2026 5:43:28 PM ******/
CREATE NONCLUSTERED INDEX [IX_DoctorDiagnoses_DoctorId] ON [dbo].[DoctorDiagnoses]
(
	[DoctorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DoctorDiagnoses_HospitalId]    Script Date: 7/31/2026 5:43:28 PM ******/
CREATE NONCLUSTERED INDEX [IX_DoctorDiagnoses_HospitalId] ON [dbo].[DoctorDiagnoses]
(
	[HospitalId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Doctors_BranchId]    Script Date: 7/31/2026 5:43:28 PM ******/
CREATE NONCLUSTERED INDEX [IX_Doctors_BranchId] ON [dbo].[Doctors]
(
	[BranchId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Doctors_HospitalId]    Script Date: 7/31/2026 5:43:28 PM ******/
CREATE NONCLUSTERED INDEX [IX_Doctors_HospitalId] ON [dbo].[Doctors]
(
	[HospitalId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Holidays_HospitalId]    Script Date: 7/31/2026 5:43:28 PM ******/
CREATE NONCLUSTERED INDEX [IX_Holidays_HospitalId] ON [dbo].[Holidays]
(
	[HospitalId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MedicalHistories_HospitalId]    Script Date: 7/31/2026 5:43:28 PM ******/
CREATE NONCLUSTERED INDEX [IX_MedicalHistories_HospitalId] ON [dbo].[MedicalHistories]
(
	[HospitalId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MedicalHistories_PatientId]    Script Date: 7/31/2026 5:43:28 PM ******/
CREATE NONCLUSTERED INDEX [IX_MedicalHistories_PatientId] ON [dbo].[MedicalHistories]
(
	[PatientId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Notifications_PatientId]    Script Date: 7/31/2026 5:43:28 PM ******/
CREATE NONCLUSTERED INDEX [IX_Notifications_PatientId] ON [dbo].[Notifications]
(
	[PatientId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Patients_HospitalId]    Script Date: 7/31/2026 5:43:28 PM ******/
CREATE NONCLUSTERED INDEX [IX_Patients_HospitalId] ON [dbo].[Patients]
(
	[HospitalId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PatientVitals_AppointmentId]    Script Date: 7/31/2026 5:43:28 PM ******/
CREATE NONCLUSTERED INDEX [IX_PatientVitals_AppointmentId] ON [dbo].[PatientVitals]
(
	[AppointmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PatientVitals_HospitalId]    Script Date: 7/31/2026 5:43:28 PM ******/
CREATE NONCLUSTERED INDEX [IX_PatientVitals_HospitalId] ON [dbo].[PatientVitals]
(
	[HospitalId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PatientVitals_PatientId]    Script Date: 7/31/2026 5:43:28 PM ******/
CREATE NONCLUSTERED INDEX [IX_PatientVitals_PatientId] ON [dbo].[PatientVitals]
(
	[PatientId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Payments_AppointmentId]    Script Date: 7/31/2026 5:43:28 PM ******/
CREATE NONCLUSTERED INDEX [IX_Payments_AppointmentId] ON [dbo].[Payments]
(
	[AppointmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Payments_BranchId]    Script Date: 7/31/2026 5:43:28 PM ******/
CREATE NONCLUSTERED INDEX [IX_Payments_BranchId] ON [dbo].[Payments]
(
	[BranchId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Payments_DoctorId]    Script Date: 7/31/2026 5:43:28 PM ******/
CREATE NONCLUSTERED INDEX [IX_Payments_DoctorId] ON [dbo].[Payments]
(
	[DoctorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Payments_PatientId]    Script Date: 7/31/2026 5:43:28 PM ******/
CREATE NONCLUSTERED INDEX [IX_Payments_PatientId] ON [dbo].[Payments]
(
	[PatientId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PrescriptionItems_PrescriptionId]    Script Date: 7/31/2026 5:43:28 PM ******/
CREATE NONCLUSTERED INDEX [IX_PrescriptionItems_PrescriptionId] ON [dbo].[PrescriptionItems]
(
	[PrescriptionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PrescriptionLabTests_PrescriptionId]    Script Date: 7/31/2026 5:43:28 PM ******/
CREATE NONCLUSTERED INDEX [IX_PrescriptionLabTests_PrescriptionId] ON [dbo].[PrescriptionLabTests]
(
	[PrescriptionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Prescriptions_AppointmentId]    Script Date: 7/31/2026 5:43:28 PM ******/
CREATE NONCLUSTERED INDEX [IX_Prescriptions_AppointmentId] ON [dbo].[Prescriptions]
(
	[AppointmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Prescriptions_HospitalId]    Script Date: 7/31/2026 5:43:28 PM ******/
CREATE NONCLUSTERED INDEX [IX_Prescriptions_HospitalId] ON [dbo].[Prescriptions]
(
	[HospitalId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Prescriptions_PatientId]    Script Date: 7/31/2026 5:43:28 PM ******/
CREATE NONCLUSTERED INDEX [IX_Prescriptions_PatientId] ON [dbo].[Prescriptions]
(
	[PatientId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Receptionists_BranchId]    Script Date: 7/31/2026 5:43:28 PM ******/
CREATE NONCLUSTERED INDEX [IX_Receptionists_BranchId] ON [dbo].[Receptionists]
(
	[BranchId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Receptionists_HospitalId]    Script Date: 7/31/2026 5:43:28 PM ******/
CREATE NONCLUSTERED INDEX [IX_Receptionists_HospitalId] ON [dbo].[Receptionists]
(
	[HospitalId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Schedules_BranchId]    Script Date: 7/31/2026 5:43:28 PM ******/
CREATE NONCLUSTERED INDEX [IX_Schedules_BranchId] ON [dbo].[Schedules]
(
	[BranchId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Schedules_DoctorId]    Script Date: 7/31/2026 5:43:28 PM ******/
CREATE NONCLUSTERED INDEX [IX_Schedules_DoctorId] ON [dbo].[Schedules]
(
	[DoctorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Schedules_HospitalId]    Script Date: 7/31/2026 5:43:28 PM ******/
CREATE NONCLUSTERED INDEX [IX_Schedules_HospitalId] ON [dbo].[Schedules]
(
	[HospitalId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ScheduleSettings_HospitalId]    Script Date: 7/31/2026 5:43:28 PM ******/
CREATE NONCLUSTERED INDEX [IX_ScheduleSettings_HospitalId] ON [dbo].[ScheduleSettings]
(
	[HospitalId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Staffs_BranchId]    Script Date: 7/31/2026 5:43:28 PM ******/
CREATE NONCLUSTERED INDEX [IX_Staffs_BranchId] ON [dbo].[Staffs]
(
	[BranchId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Staffs_HospitalId]    Script Date: 7/31/2026 5:43:28 PM ******/
CREATE NONCLUSTERED INDEX [IX_Staffs_HospitalId] ON [dbo].[Staffs]
(
	[HospitalId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Staffs_UserId]    Script Date: 7/31/2026 5:43:28 PM ******/
CREATE NONCLUSTERED INDEX [IX_Staffs_UserId] ON [dbo].[Staffs]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_SuperAdmins_Email]    Script Date: 7/31/2026 5:43:28 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_SuperAdmins_Email] ON [dbo].[SuperAdmins]
(
	[Email] ASC
)
WHERE ([Email] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserPermissions_HospitalId]    Script Date: 7/31/2026 5:43:28 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserPermissions_HospitalId] ON [dbo].[UserPermissions]
(
	[HospitalId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserPermissions_UserId_Module]    Script Date: 7/31/2026 5:43:28 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_UserPermissions_UserId_Module] ON [dbo].[UserPermissions]
(
	[UserId] ASC,
	[Module] ASC
)
WHERE ([UserId] IS NOT NULL AND [Module] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Users_BranchId]    Script Date: 7/31/2026 5:43:28 PM ******/
CREATE NONCLUSTERED INDEX [IX_Users_BranchId] ON [dbo].[Users]
(
	[BranchId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Users_HospitalId]    Script Date: 7/31/2026 5:43:28 PM ******/
CREATE NONCLUSTERED INDEX [IX_Users_HospitalId] ON [dbo].[Users]
(
	[HospitalId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Billings] ADD  DEFAULT (N'OP') FOR [BillingType]
GO
ALTER TABLE [dbo].[Billings] ADD  DEFAULT ((0.0)) FOR [SubTotal]
GO
ALTER TABLE [dbo].[Billings] ADD  DEFAULT ((0.0)) FOR [GstPercentage]
GO
ALTER TABLE [dbo].[Billings] ADD  DEFAULT ((0.0)) FOR [GstAmount]
GO
ALTER TABLE [dbo].[Prescriptions] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsPrinted]
GO
ALTER TABLE [dbo].[AppointmentDocuments]  WITH CHECK ADD  CONSTRAINT [FK_AppointmentDocuments_Appointments_AppointmentId] FOREIGN KEY([AppointmentId])
REFERENCES [dbo].[Appointments] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AppointmentDocuments] CHECK CONSTRAINT [FK_AppointmentDocuments_Appointments_AppointmentId]
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD  CONSTRAINT [FK_Appointments_Branches_BranchId] FOREIGN KEY([BranchId])
REFERENCES [dbo].[Branches] ([Id])
GO
ALTER TABLE [dbo].[Appointments] CHECK CONSTRAINT [FK_Appointments_Branches_BranchId]
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD  CONSTRAINT [FK_Appointments_Doctors_DoctorId] FOREIGN KEY([DoctorId])
REFERENCES [dbo].[Doctors] ([Id])
GO
ALTER TABLE [dbo].[Appointments] CHECK CONSTRAINT [FK_Appointments_Doctors_DoctorId]
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD  CONSTRAINT [FK_Appointments_Hospitals_HospitalId] FOREIGN KEY([HospitalId])
REFERENCES [dbo].[Hospitals] ([Id])
GO
ALTER TABLE [dbo].[Appointments] CHECK CONSTRAINT [FK_Appointments_Hospitals_HospitalId]
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD  CONSTRAINT [FK_Appointments_Patients_PatientId] FOREIGN KEY([PatientId])
REFERENCES [dbo].[Patients] ([Id])
GO
ALTER TABLE [dbo].[Appointments] CHECK CONSTRAINT [FK_Appointments_Patients_PatientId]
GO
ALTER TABLE [dbo].[AuditLogs]  WITH CHECK ADD  CONSTRAINT [FK_AuditLogs_Branches_BranchId] FOREIGN KEY([BranchId])
REFERENCES [dbo].[Branches] ([Id])
GO
ALTER TABLE [dbo].[AuditLogs] CHECK CONSTRAINT [FK_AuditLogs_Branches_BranchId]
GO
ALTER TABLE [dbo].[AuditLogs]  WITH CHECK ADD  CONSTRAINT [FK_AuditLogs_Hospitals_ClinicId] FOREIGN KEY([ClinicId])
REFERENCES [dbo].[Hospitals] ([Id])
GO
ALTER TABLE [dbo].[AuditLogs] CHECK CONSTRAINT [FK_AuditLogs_Hospitals_ClinicId]
GO
ALTER TABLE [dbo].[Billings]  WITH CHECK ADD  CONSTRAINT [FK_Billings_Appointments_AppointmentId] FOREIGN KEY([AppointmentId])
REFERENCES [dbo].[Appointments] ([Id])
GO
ALTER TABLE [dbo].[Billings] CHECK CONSTRAINT [FK_Billings_Appointments_AppointmentId]
GO
ALTER TABLE [dbo].[Billings]  WITH CHECK ADD  CONSTRAINT [FK_Billings_Doctors_DoctorId] FOREIGN KEY([DoctorId])
REFERENCES [dbo].[Doctors] ([Id])
GO
ALTER TABLE [dbo].[Billings] CHECK CONSTRAINT [FK_Billings_Doctors_DoctorId]
GO
ALTER TABLE [dbo].[Billings]  WITH CHECK ADD  CONSTRAINT [FK_Billings_Hospitals_HospitalId] FOREIGN KEY([HospitalId])
REFERENCES [dbo].[Hospitals] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Billings] CHECK CONSTRAINT [FK_Billings_Hospitals_HospitalId]
GO
ALTER TABLE [dbo].[Billings]  WITH CHECK ADD  CONSTRAINT [FK_Billings_Patients_PatientId] FOREIGN KEY([PatientId])
REFERENCES [dbo].[Patients] ([Id])
GO
ALTER TABLE [dbo].[Billings] CHECK CONSTRAINT [FK_Billings_Patients_PatientId]
GO
ALTER TABLE [dbo].[Branches]  WITH CHECK ADD  CONSTRAINT [FK_Branches_Hospitals_HospitalId] FOREIGN KEY([HospitalId])
REFERENCES [dbo].[Hospitals] ([Id])
GO
ALTER TABLE [dbo].[Branches] CHECK CONSTRAINT [FK_Branches_Hospitals_HospitalId]
GO
ALTER TABLE [dbo].[Cities]  WITH CHECK ADD  CONSTRAINT [FK_Cities_Districts_DistrictId] FOREIGN KEY([DistrictId])
REFERENCES [dbo].[Districts] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Cities] CHECK CONSTRAINT [FK_Cities_Districts_DistrictId]
GO
ALTER TABLE [dbo].[Consultations]  WITH CHECK ADD  CONSTRAINT [FK_Consultations_Appointments_AppointmentId] FOREIGN KEY([AppointmentId])
REFERENCES [dbo].[Appointments] ([Id])
GO
ALTER TABLE [dbo].[Consultations] CHECK CONSTRAINT [FK_Consultations_Appointments_AppointmentId]
GO
ALTER TABLE [dbo].[Consultations]  WITH CHECK ADD  CONSTRAINT [FK_Consultations_Hospitals_HospitalId] FOREIGN KEY([HospitalId])
REFERENCES [dbo].[Hospitals] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Consultations] CHECK CONSTRAINT [FK_Consultations_Hospitals_HospitalId]
GO
ALTER TABLE [dbo].[Consultations]  WITH CHECK ADD  CONSTRAINT [FK_Consultations_Patients_PatientId] FOREIGN KEY([PatientId])
REFERENCES [dbo].[Patients] ([Id])
GO
ALTER TABLE [dbo].[Consultations] CHECK CONSTRAINT [FK_Consultations_Patients_PatientId]
GO
ALTER TABLE [dbo].[Districts]  WITH CHECK ADD  CONSTRAINT [FK_Districts_States_StateId] FOREIGN KEY([StateId])
REFERENCES [dbo].[States] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Districts] CHECK CONSTRAINT [FK_Districts_States_StateId]
GO
ALTER TABLE [dbo].[DoctorBranches]  WITH CHECK ADD  CONSTRAINT [FK_DoctorBranches_Branches_BranchId] FOREIGN KEY([BranchId])
REFERENCES [dbo].[Branches] ([Id])
GO
ALTER TABLE [dbo].[DoctorBranches] CHECK CONSTRAINT [FK_DoctorBranches_Branches_BranchId]
GO
ALTER TABLE [dbo].[DoctorBranches]  WITH CHECK ADD  CONSTRAINT [FK_DoctorBranches_Doctors_DoctorId] FOREIGN KEY([DoctorId])
REFERENCES [dbo].[Doctors] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DoctorBranches] CHECK CONSTRAINT [FK_DoctorBranches_Doctors_DoctorId]
GO
ALTER TABLE [dbo].[DoctorDiagnoses]  WITH CHECK ADD  CONSTRAINT [FK_DoctorDiagnoses_Doctors_DoctorId] FOREIGN KEY([DoctorId])
REFERENCES [dbo].[Doctors] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DoctorDiagnoses] CHECK CONSTRAINT [FK_DoctorDiagnoses_Doctors_DoctorId]
GO
ALTER TABLE [dbo].[DoctorDiagnoses]  WITH CHECK ADD  CONSTRAINT [FK_DoctorDiagnoses_Hospitals_HospitalId] FOREIGN KEY([HospitalId])
REFERENCES [dbo].[Hospitals] ([Id])
GO
ALTER TABLE [dbo].[DoctorDiagnoses] CHECK CONSTRAINT [FK_DoctorDiagnoses_Hospitals_HospitalId]
GO
ALTER TABLE [dbo].[Doctors]  WITH CHECK ADD  CONSTRAINT [FK_Doctors_Branches_BranchId] FOREIGN KEY([BranchId])
REFERENCES [dbo].[Branches] ([Id])
GO
ALTER TABLE [dbo].[Doctors] CHECK CONSTRAINT [FK_Doctors_Branches_BranchId]
GO
ALTER TABLE [dbo].[Doctors]  WITH CHECK ADD  CONSTRAINT [FK_Doctors_Hospitals_HospitalId] FOREIGN KEY([HospitalId])
REFERENCES [dbo].[Hospitals] ([Id])
GO
ALTER TABLE [dbo].[Doctors] CHECK CONSTRAINT [FK_Doctors_Hospitals_HospitalId]
GO
ALTER TABLE [dbo].[Holidays]  WITH CHECK ADD  CONSTRAINT [FK_Holidays_Hospitals_HospitalId] FOREIGN KEY([HospitalId])
REFERENCES [dbo].[Hospitals] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Holidays] CHECK CONSTRAINT [FK_Holidays_Hospitals_HospitalId]
GO
ALTER TABLE [dbo].[MedicalHistories]  WITH CHECK ADD  CONSTRAINT [FK_MedicalHistories_Hospitals_HospitalId] FOREIGN KEY([HospitalId])
REFERENCES [dbo].[Hospitals] ([Id])
GO
ALTER TABLE [dbo].[MedicalHistories] CHECK CONSTRAINT [FK_MedicalHistories_Hospitals_HospitalId]
GO
ALTER TABLE [dbo].[MedicalHistories]  WITH CHECK ADD  CONSTRAINT [FK_MedicalHistories_Patients_PatientId] FOREIGN KEY([PatientId])
REFERENCES [dbo].[Patients] ([Id])
GO
ALTER TABLE [dbo].[MedicalHistories] CHECK CONSTRAINT [FK_MedicalHistories_Patients_PatientId]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [FK_Notifications_Patients_PatientId] FOREIGN KEY([PatientId])
REFERENCES [dbo].[Patients] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [FK_Notifications_Patients_PatientId]
GO
ALTER TABLE [dbo].[Patients]  WITH CHECK ADD  CONSTRAINT [FK_Patients_Hospitals_HospitalId] FOREIGN KEY([HospitalId])
REFERENCES [dbo].[Hospitals] ([Id])
GO
ALTER TABLE [dbo].[Patients] CHECK CONSTRAINT [FK_Patients_Hospitals_HospitalId]
GO
ALTER TABLE [dbo].[PatientVitals]  WITH CHECK ADD  CONSTRAINT [FK_PatientVitals_Appointments_AppointmentId] FOREIGN KEY([AppointmentId])
REFERENCES [dbo].[Appointments] ([Id])
GO
ALTER TABLE [dbo].[PatientVitals] CHECK CONSTRAINT [FK_PatientVitals_Appointments_AppointmentId]
GO
ALTER TABLE [dbo].[PatientVitals]  WITH CHECK ADD  CONSTRAINT [FK_PatientVitals_Hospitals_HospitalId] FOREIGN KEY([HospitalId])
REFERENCES [dbo].[Hospitals] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PatientVitals] CHECK CONSTRAINT [FK_PatientVitals_Hospitals_HospitalId]
GO
ALTER TABLE [dbo].[PatientVitals]  WITH CHECK ADD  CONSTRAINT [FK_PatientVitals_Patients_PatientId] FOREIGN KEY([PatientId])
REFERENCES [dbo].[Patients] ([Id])
GO
ALTER TABLE [dbo].[PatientVitals] CHECK CONSTRAINT [FK_PatientVitals_Patients_PatientId]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_Appointments_AppointmentId] FOREIGN KEY([AppointmentId])
REFERENCES [dbo].[Appointments] ([Id])
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_Appointments_AppointmentId]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_Branches_BranchId] FOREIGN KEY([BranchId])
REFERENCES [dbo].[Branches] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_Branches_BranchId]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_Doctors_DoctorId] FOREIGN KEY([DoctorId])
REFERENCES [dbo].[Doctors] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_Doctors_DoctorId]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_Patients_PatientId] FOREIGN KEY([PatientId])
REFERENCES [dbo].[Patients] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_Patients_PatientId]
GO
ALTER TABLE [dbo].[PrescriptionItems]  WITH CHECK ADD  CONSTRAINT [FK_PrescriptionItems_Prescriptions_PrescriptionId] FOREIGN KEY([PrescriptionId])
REFERENCES [dbo].[Prescriptions] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PrescriptionItems] CHECK CONSTRAINT [FK_PrescriptionItems_Prescriptions_PrescriptionId]
GO
ALTER TABLE [dbo].[PrescriptionLabTests]  WITH CHECK ADD  CONSTRAINT [FK_PrescriptionLabTests_Prescriptions_PrescriptionId] FOREIGN KEY([PrescriptionId])
REFERENCES [dbo].[Prescriptions] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PrescriptionLabTests] CHECK CONSTRAINT [FK_PrescriptionLabTests_Prescriptions_PrescriptionId]
GO
ALTER TABLE [dbo].[Prescriptions]  WITH CHECK ADD  CONSTRAINT [FK_Prescriptions_Appointments_AppointmentId] FOREIGN KEY([AppointmentId])
REFERENCES [dbo].[Appointments] ([Id])
GO
ALTER TABLE [dbo].[Prescriptions] CHECK CONSTRAINT [FK_Prescriptions_Appointments_AppointmentId]
GO
ALTER TABLE [dbo].[Prescriptions]  WITH CHECK ADD  CONSTRAINT [FK_Prescriptions_Hospitals_HospitalId] FOREIGN KEY([HospitalId])
REFERENCES [dbo].[Hospitals] ([Id])
GO
ALTER TABLE [dbo].[Prescriptions] CHECK CONSTRAINT [FK_Prescriptions_Hospitals_HospitalId]
GO
ALTER TABLE [dbo].[Prescriptions]  WITH CHECK ADD  CONSTRAINT [FK_Prescriptions_Patients_PatientId] FOREIGN KEY([PatientId])
REFERENCES [dbo].[Patients] ([Id])
GO
ALTER TABLE [dbo].[Prescriptions] CHECK CONSTRAINT [FK_Prescriptions_Patients_PatientId]
GO
ALTER TABLE [dbo].[Receptionists]  WITH CHECK ADD  CONSTRAINT [FK_Receptionists_Branches_BranchId] FOREIGN KEY([BranchId])
REFERENCES [dbo].[Branches] ([Id])
GO
ALTER TABLE [dbo].[Receptionists] CHECK CONSTRAINT [FK_Receptionists_Branches_BranchId]
GO
ALTER TABLE [dbo].[Receptionists]  WITH CHECK ADD  CONSTRAINT [FK_Receptionists_Hospitals_HospitalId] FOREIGN KEY([HospitalId])
REFERENCES [dbo].[Hospitals] ([Id])
GO
ALTER TABLE [dbo].[Receptionists] CHECK CONSTRAINT [FK_Receptionists_Hospitals_HospitalId]
GO
ALTER TABLE [dbo].[Schedules]  WITH CHECK ADD  CONSTRAINT [FK_Schedules_Branches_BranchId] FOREIGN KEY([BranchId])
REFERENCES [dbo].[Branches] ([Id])
GO
ALTER TABLE [dbo].[Schedules] CHECK CONSTRAINT [FK_Schedules_Branches_BranchId]
GO
ALTER TABLE [dbo].[Schedules]  WITH CHECK ADD  CONSTRAINT [FK_Schedules_Doctors_DoctorId] FOREIGN KEY([DoctorId])
REFERENCES [dbo].[Doctors] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Schedules] CHECK CONSTRAINT [FK_Schedules_Doctors_DoctorId]
GO
ALTER TABLE [dbo].[Schedules]  WITH CHECK ADD  CONSTRAINT [FK_Schedules_Hospitals_HospitalId] FOREIGN KEY([HospitalId])
REFERENCES [dbo].[Hospitals] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Schedules] CHECK CONSTRAINT [FK_Schedules_Hospitals_HospitalId]
GO
ALTER TABLE [dbo].[ScheduleSettings]  WITH CHECK ADD  CONSTRAINT [FK_ScheduleSettings_Hospitals_HospitalId] FOREIGN KEY([HospitalId])
REFERENCES [dbo].[Hospitals] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ScheduleSettings] CHECK CONSTRAINT [FK_ScheduleSettings_Hospitals_HospitalId]
GO
ALTER TABLE [dbo].[Staffs]  WITH CHECK ADD  CONSTRAINT [FK_Staffs_Branches_BranchId] FOREIGN KEY([BranchId])
REFERENCES [dbo].[Branches] ([Id])
GO
ALTER TABLE [dbo].[Staffs] CHECK CONSTRAINT [FK_Staffs_Branches_BranchId]
GO
ALTER TABLE [dbo].[Staffs]  WITH CHECK ADD  CONSTRAINT [FK_Staffs_Hospitals_HospitalId] FOREIGN KEY([HospitalId])
REFERENCES [dbo].[Hospitals] ([Id])
GO
ALTER TABLE [dbo].[Staffs] CHECK CONSTRAINT [FK_Staffs_Hospitals_HospitalId]
GO
ALTER TABLE [dbo].[Staffs]  WITH CHECK ADD  CONSTRAINT [FK_Staffs_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Staffs] CHECK CONSTRAINT [FK_Staffs_Users_UserId]
GO
ALTER TABLE [dbo].[UserPermissions]  WITH CHECK ADD  CONSTRAINT [FK_UserPermissions_Hospitals_HospitalId] FOREIGN KEY([HospitalId])
REFERENCES [dbo].[Hospitals] ([Id])
GO
ALTER TABLE [dbo].[UserPermissions] CHECK CONSTRAINT [FK_UserPermissions_Hospitals_HospitalId]
GO
ALTER TABLE [dbo].[UserPermissions]  WITH CHECK ADD  CONSTRAINT [FK_UserPermissions_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserPermissions] CHECK CONSTRAINT [FK_UserPermissions_Users_UserId]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Branches_BranchId] FOREIGN KEY([BranchId])
REFERENCES [dbo].[Branches] ([Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Branches_BranchId]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Hospitals_HospitalId] FOREIGN KEY([HospitalId])
REFERENCES [dbo].[Hospitals] ([Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Hospitals_HospitalId]
GO
USE [master]
GO
